@model Site01.Models.Palavra
@{
    //Layout  = "_Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Palavra - Cadastrar";
}

<form method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" name="nome" value="@Model.Nome" class="form-control" id="nome" placeholder="Digite o seu nome">
        @Html.ValidationMessage("nome")
    </div>
    <div class="form-group">
        <label for="nivel">Nível</label>
        <select name="nivel" class="form-control">
            @foreach (var nivel in ViewBag.Nivel)
            {
                @if (nivel.Id == Model.Nivel)
                {
                    <option value="@nivel.Id" selected>@nivel.Nome</option>
                }
                else
                {
                    <option value="@nivel.Id">@nivel.Nome</option>
                }

            }
        </select>
        <!--<input type="text" name="nivel" value="@Model.Nivel" class="form-control" id="nivel" placeholder="Digite o nível: 1 - Fácil, 2 - Médio, 3 - Difícil">-->
        @Html.ValidationMessage("nivel")
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>